<div class="card">
    <h5><strong>User List</strong></h5>
    <p-toast></p-toast>
    <div class="card">
        <p-table
            [value]="users"
            dataKey="userID"
            editMode="row"
            [tableStyle]="{ 'min-width': '50rem' }"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 20%">Id</th>
                    <th style="width: 20%">Username</th>
                    <th style="width: 20%">Full Name</th>
                    <th style="width: 20%">Email</th>
                    <th style="width: 20%">Phone</th>
                    <th style="width: 20%">Role</th>
                    
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user let-editing="editing">
                <tr [pEditableRow]="user">
                    <td>{{ user.userID }}</td>
                    <td>{{ user.username }}</td>
                    <td>
                        {{ user.name }}
                    </td>
                    <td>
                        {{ user.email }}
                    </td>
                    <td>
                        {{ user.phone }}
                    </td>
                    <td>
                        {{ user.roles[0].roleName }}
                    </td>

                    <td>
                        <div
                            class="flex align-items-center justify-content-center gap-2"
                        ></div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
