.product-form {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.add{
  margin-right: 27px;
}
.form-actions {
  display: flex;
}

.form-group{
  display: flex;
flex-direction: column;
}