.dashboard-container {
    display: grid;
    grid-template-columns: repeat(4, 23.7%);
    gap: 20px;
}

.card {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.card h2 {
    margin-bottom: 5px;
    font-size: 1.5rem;
    color: #333;
}

.card p {
    font-size: 1.2rem;
    color: #666;
}

.card i {
    font-size: 2rem;

}

.card-yellow { border: solid 2px #ffc107;}
.card-green { border: solid 2px #28a745; }
.card-blue { border: solid 2px #007bff; }
.card-red { border: solid 2px #dc3545; }
.card-orange { border: solid 2px #fd7e14; }
.card-purple { border: solid 2px #6610f2; }
.card-pink { border: solid 2px #e83e8c; }
.card-black {border: solid 2px black;}

table.greyGridTable {
    border: 2px solid #FFFFFF;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
  }
  table.greyGridTable td, table.greyGridTable th {
    border: 1px solid #FFFFFF;
    padding: 3px 4px;
  }
  table.greyGridTable tbody td {
    font-size: 13px;
  }
  table.greyGridTable td:nth-child(even) {
    background: #EBEBEB;
  }
  table.greyGridTable thead {
    background: #FFFFFF;
    border-bottom: 4px solid #333333;
  }
  table.greyGridTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #333333;
    text-align: center;
    border-left: 2px solid #333333;
  }
  table.greyGridTable thead th:first-child {
    border-left: none;
  }
  
  table.greyGridTable tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    border-top: 4px solid #333333;
  }
  table.greyGridTable tfoot td {
    font-size: 14px;
  }

  .viol{
    color: blueviolet;
  }

  .table-scroll-wrapper {
    max-height: 400px;
    overflow-y: auto;
}