<div class="card">
    <h5><strong>CSV to Excel converter</strong></h5>
    <hr>
    <p-fileUpload chooseLabel="Select CSV" class="mb-3 mr-5" chooseStyleClass="" chooseIcon="pi pi pi-file" #fileUpload mode="basic" name="demo[]" (onSelect)="onFileChange($event)" accept=".csv" maxFileSize="1000000"></p-fileUpload>
    <br>
    <button pButton pRipple class="mb-3 mr-5 p-button-raised p-button-success" type="button" pButton label="Convert to Excel" icon="pi pi-file-excel" (click)="convertToExcel()" [disabled]="!csvData"></button>
    <button pButton pRipple class="mb-3 mr-5 p-button-raised p-button-info" type="button" pButton label="Download Excel" icon="pi pi-download" (click)="downloadExcel()" [disabled]="!excelData.length"></button>
    <button pButton pRipple class="mb-3 mr-5 p-button-raised p-button-danger" type="button" pButton label="Reset" icon="pi pi-refresh" (click)="reset()"></button>
  </div>

  <div class="card">
    <h5><strong>CSV Content</strong></h5>
    <textarea [(ngModel)]="csvData" style="width: 100%;" rows="10" cols="50" readonly></textarea>
  </div>
  
  <div class="card" *ngIf="excelContentVisible">
    <h5><strong>Excel Content</strong></h5>
    <p-table [value]="excelData">
      <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let header of tableHeaders">{{ header }}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData>
        <tr>
          <td *ngFor="let header of tableHeaders">{{ rowData[header] }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  