<div class="card">
  <h5>Add Purchase-Order</h5>
<form [formGroup]="purchaseOrderForm" (ngSubmit)="onSubmit()">
  <p-dropdown formControlName="supplier" [options]="suppliers" placeholder="Select Supplier" optionLabel="supplierAgency" class="mb-3 mr-5"></p-dropdown>
  <p-multiSelect formControlName="products" [options]="products" placeholder="Select Product" optionLabel="productName" display="chip" class="mb-3 mr-5"></p-multiSelect>
  <p-dropdown formControlName="store" [options]="[{ label: 'Store1', value: 'Store1' }]" placeholder="Select Store" optionLabel="label" class="mb-3 mr-5"></p-dropdown>
  <p-inputNumber formControlName="quantity" mode="decimal" [showButtons]="true" inputId="minmax-buttons" [min]="0" [max]="10000" class="mb-3 mr-5"></p-inputNumber>
  <p-inputNumber formControlName="buyingPrice" inputId="locale-indian" mode="decimal" locale="en-IN" [minFractionDigits]="2" class="mb-3 mr-5"></p-inputNumber>
  <p-inputNumber formControlName="sellingPrice" inputId="locale-indian" mode="decimal" locale="en-IN" [minFractionDigits]="2" class="mb-3 mr-5"></p-inputNumber>
  <p-calendar formControlName="orderDate" placeholder="Order Date" dateFormat="mm-dd-yy" inputId="order-date" class="mb-3 mr-5"></p-calendar>
  <p-calendar formControlName="deliveryDate" placeholder="Delivery Date" dateFormat="mm-dd-yy" inputId="delivery-date" class="mb-3 mr-5"></p-calendar>
  <p-dropdown formControlName="transportMethod" [options]="transportMethods" placeholder="Select Transport Method" optionLabel="name" class="mb-3 mr-5"></p-dropdown>
  <p-dropdown formControlName="paymentMethod" [options]="paymentMethods" placeholder="Select Payment Method" optionLabel="name" class="mb-3 mr-5"></p-dropdown>
  <p-dropdown formControlName="status" [options]="statusOptions" placeholder="Select Status" optionLabel="name" class="mb-3 mr-5"></p-dropdown>
  <button pButton pRipple type="submit" label="Success" class="p-button-raised p-button-success mb-3 mr-5"></button>
</form>
</div>
<hr>
  <div class="card">
    <h5>Purchase Order List</h5>
    <p-table [value]="purchaseOrders" dataKey="orderId" editMode="row" [tableStyle]="{'min-width': '50rem'}">
      <ng-template pTemplate="header"> 
        <tr>
          <th style="width:20%">Order ID</th>
          <th style="width:20%">Supplier</th>
          <th style="width:20%">Products</th>
          <th style="width:20%">Store</th>
          <th style="width:20%">Quantity</th>
          <th style="width:20%">Buying Price</th>
          <th style="width:20%">Selling Price</th>
          <th style="width:20%">Order Date</th>
          <th style="width:20%">Delivery Date</th>
          <th style="width:20%">Transport Method</th>
          <th style="width:20%">Payment Method</th>
          <th style="width:20%">Status</th>
          <th style="width:20%">Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-purchaseOrder let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="purchaseOrder">
          <td>{{ purchaseOrder.orderId }}</td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <p-dropdown [options]="suppliers" [(ngModel)]="purchaseOrder.supplier" optionLabel="supplierAgency" placeholder="Select Supplier"></p-dropdown>
              </ng-template>
              <ng-template pTemplate="output">
                {{ purchaseOrder.supplier }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <p-dropdown [options]="products" [(ngModel)]="purchaseOrder.products" optionLabel="name" placeholder="Select Product"></p-dropdown>
              </ng-template>
              <ng-template pTemplate="output">
                {{ purchaseOrder.products }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="purchaseOrder.store">
              </ng-template>
              <ng-template pTemplate="output">
                {{ purchaseOrder.store }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="number" [(ngModel)]="purchaseOrder.quantity">
              </ng-template>
              <ng-template pTemplate="output">
                {{ purchaseOrder.quantity }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="number" [(ngModel)]="purchaseOrder.buyingPrice">
              </ng-template>
              <ng-template pTemplate="output">
                {{ purchaseOrder.buyingPrice }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="number" [(ngModel)]="purchaseOrder.sellingPrice">
              </ng-template>
              <ng-template pTemplate="output">
                {{ purchaseOrder.sellingPrice }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input type="date" pInputText [(ngModel)]="purchaseOrder.orderDate">
              </ng-template>
              <ng-template pTemplate="output">
                {{ purchaseOrder.orderDate | date: 'yyyy-MM-dd' }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input type="date" pInputText [(ngModel)]="purchaseOrder.deliveryDate">
              </ng-template>
              <ng-template pTemplate="output">
                {{ purchaseOrder.deliveryDate | date: 'yyyy-MM-dd' }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <p-dropdown [options]="transportMethods" [(ngModel)]="purchaseOrder.transportMethod" placeholder="Select Transport Method"></p-dropdown>
              </ng-template>
              <ng-template pTemplate="output">
                {{ purchaseOrder.transportMethod }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <p-dropdown [options]="paymentMethods" [(ngModel)]="purchaseOrder.paymentMethod" placeholder="Select Payment Method"></p-dropdown>
              </ng-template>
              <ng-template pTemplate="output">
                {{ purchaseOrder.paymentMethod }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <p-dropdown [options]="statusOptions" [(ngModel)]="purchaseOrder.status" placeholder="Select Status"></p-dropdown>
              </ng-template>
              <ng-template pTemplate="output">
                {{ purchaseOrder.status }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <div class="flex align-items-center justify-content-center gap-2">
              <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(purchaseOrder)"
                class="p-button-rounded p-button-text"></button>
              <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(purchaseOrder)"
                class="p-button-rounded p-button-text p-button-success mr-2"></button>
              <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(purchaseOrder)"
                class="p-button-rounded p-button-text p-button-danger"></button>
              <button pButton pRipple type="button" icon="pi pi-trash" (click)="deletePurchaseOrder(purchaseOrder.orderId)"
                class="p-button-rounded p-button-text p-button-danger"></button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <p-toast></p-toast>
  